<a href="https://colab.research.google.com/github/dk127119/notebook/blob/main/break%2C_continue_ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to print numbers from  to 0 to 10, but stop if the number is 5.

In [1]:
for num in range(1, 11):
  if num==5:
    break
  print(num)

1
2
3
4

Write a program to iterate through a list and stop when encountering a specific element.

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10]
stop_element = 7
for element in my_list:
  if element == stop_element:
    break
  print(element)

1
2
3
4
5
6

Write a program to skip printing even numbers from  1 to 10.

---

In [3]:
for num in range(1, 11):
  if num %2 == 0:
    continue
  print(num)

1
3
5
7
9

Write a program to print numbers from 0 to 9 using range.

In [4]:
for num in range (10):
  print(num)

0
1
2
3
4
5
6
7
8
9

Write a program to print multiplication tables from  to 5, but stop after the first table is printed for each number.

In [6]:
for i in range(1, 6):
  print("multiplication table for {i}:")
  for j in range (1, 11):
    print(f"{i} * {j} = {i*j}")
  print()

multiplication table for {i}:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

multiplication table for {i}:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

multiplication table for {i}:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

multiplication table for {i}:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

multiplication table for {i}:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Write a program to skip printing even numbers using a while loop.

In [7]:
num = 1
while num<=10:
  if num % 2==0:
    num+=1
    continue
  print(num)
  num +=1

1
3
5
7
9