<a href="https://colab.research.google.com/github/dk127119/notebook/blob/main/loop_ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print nmber from 1 to 5 ing a while loop.

In [ ]:
num = 1
while num<=5:
    print(num)
    num +=1

1
2
3
4
5

Calclate the m of nmber from 1 to 10 ing a while loop.

In [ ]:
num = 1
sum = 0
while num<=10:
    sum += num
    num += 1
print("The sum of numbers from 1 to 10 is :", sum)

The sum of numbers from 1 to 10 is : 55

 Calclate the factorial of a nmber ing a for loop.

In [ ]:
number = 5
factorial = 1
for i in range(1, number + 1):
    factorial *=i
print("the factorial of", number, "is:", factorial)

the factorial of 5 is: 120

Cont the nmber of vowel in a tring ing a for loop.

In [ ]:
string = "hello world"
vowel_count =0
vowels = "aeiouAEIOU"
for char in string:
    if char in vowels:
        vowel_count +=1
print("the number of vowels in the string is :", vowel_count)

the number of vowels in the string is : 3

Print a pattern in nested loop.

In [ ]:
rows = 5
for  i in range(1, rows + 1):
    for j in range (1, i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(4):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

Generate a multiplication table in nested loop.

In [23]:
start_range = 1
end_range = 10
for i in range(start_range, end_range+1):
  for j in range(start_range, end_range+1):
      result = i*j
      print(f"{i}*{j} = {result}")
  print()

1*1 = 1
1*2 = 2
1*3 = 3
1*4 = 4
1*5 = 5
1*6 = 6
1*7 = 7
1*8 = 8
1*9 = 9
1*10 = 10

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30

4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60

7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70

8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
8*10 = 80

9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81
9*10 = 90

10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100