<a href="https://colab.research.google.com/github/dk127119/notebook/blob/main/operator_ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#question 1, Calc$late the s$m, difference, prod$ct, and q$otient of two n$mbers.

In [2]:
num1 = 23
num2 = 25

#calculate te sum
sum_result = num1+num2
#calculate te difference
difference_result = num1-num2
#calculate te product
product_result = num1*num2
#calculate te quotient
quotient_result = num1 / num2
print("sum :", sum_result)
print("difference :", difference_result)
print("product :", product_result)
print("quotient :", quotient_result)

sum : 48
difference : -2
product : 575
quotient : 0.92

In [3]:
#question 2, Perform @ario$s assignment operations on a @ariable.

In [4]:
x = 3

#add assignment
x += 6
print("addition assignment :", x)
#substract assignment
x -= 2
print("substraction assignment :", x)
#mul assignment
x *= 5
print("multiplication assignment :", x)
#div assignment
x /= 4
print("division assignment :", x)
#floordivision assignment
x //= 7
print("floordivision assignment :", x)
#modulus assignment
x %= 2
print("modulus assignment :", x)

addition assignment : 9
substraction assignment : 7
multiplication assignment : 35
division assignment : 8.75
floordivision assignment : 1.0
modulus assignment : 1.0

In [5]:
#question 3, Compare two n$mbers and print the res$lts.

In [6]:
num1 = 3
num2 = 7

if num1>num2:
    print("num1 is greater than num2")
elif num1<num2:
    print("num1 is less than num2")
else:
    print("num1 is equal to num2")

num1 is less than num2

In [7]:
#question 3, Compare two n$mbers and print the res$lts.

In [8]:
a = 5
b = 10
c = 15

if a<b and b<c:
    print("both conditions are true")
if a<b or a>c:
    print("atleast one condition is true")
if not(a>b):
    print("a is not greater than b")

both conditions are true
atleast one condition is true
a is not greater than b

In [9]:
#question 5, Check the identity of @ariables.

In [10]:
a = [1,2,3,4]
b = [1,2,3,4]
if a==b:
    print("a and b refer the same value")
else:
    print("a and b value is not same")

a and b refer the same value

In [11]:
#question 6,Perform bitwise operations on any two integers.

In [12]:
num1 = 4
num2 = 7

result_and = num1 & num2
print("bitwise AND :", result_and)

result_or = num1 | num2
print("bitwise OR :", result_or)

result_xor = num1 ^ num2
print("bitwise XOR :", result_xor)

result_not = num1 << num2
print("bitwise NOT :", result_not)

bitwise AND : 4
bitwise OR : 7
bitwise XOR : 3
bitwise NOT : 512

In [13]:
#question 7, Use $nary operators to change the sign of a n$mber

In [14]:
number = 5
#change te sign of number
number = -number
print("changed sign of the number :", number)

changed sign of the number : -5

question 8,Use the ternary operator to assign Values based on conditions.

In [15]:
a = 8
if a>60:
    print("you have pass with 1st division")
elif 60<a>33:
    print("you ave pass in entire course")#if condition is true
else:
    print("you are failed")

you are failed