<a href="https://colab.research.google.com/github/dk127119/notebook/blob/main/type_conversion_ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#question 1 , convert int to float

In [2]:
a = 5
type(a)

int

In [3]:
a = float(5)
type(a)

float

In [4]:
#question 2, convert float to int

In [5]:
a = 1.0
type(a)

float

In [6]:
a = int(1.0)
type(a)

int

In [7]:
#question 3, convert int to str

In [8]:
a = 5
type(a)

int

In [9]:
a = str(5)
type(a)

str

In [10]:
#question 4, convert list to tuple

In [11]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4)

In [12]:
#question 5, convert tuple to list

In [13]:
my_tuple = (1,2,3,4)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4]

In [14]:
#question 6, convert decimal to binary number

In [15]:
decimal_num = int(input("enter a decimal number : "))
binary_num = bin(decimal_num)
print("binary number is:", binary_num)

enter a decimal number : 32
binary number is: 0b100000

In [16]:
#question 7, Covert a non-zero number to boolean

In [17]:
number = 45
boolean_value = bool(number)
print(boolean_value)

True